.gitignore
*~
\#*#
.#*
doc/CodingStandards.aux
doc/CodingStandards.log
doc/CodingStandards.pdf
doc/CodingStandards.out
doc/CodingStandards.synctex.gz
doc/_whizzy_CodingStandards_d/
doc/QuickStart.aux
doc/QuickStart.idx
doc/QuickStart.log
doc/QuickStart.pdf
doc/QuickStart.synctex.gz
doc/UserManual.aux
doc/UserManual.idx
doc/UserManual.log
doc/UserManual.synctex.gz
doc/UserManual.toc
doc/floatflt.sty
doc/hawkManual.aux
doc/hawkManual.log
doc/hawkManual.out
doc/hawkManual.pdf
doc/hawkManual.synctex.gz
doc/hawkManual.toc
src/HawkGUI/images/crystal_project
build*
Linux_x86_64
